{% extends "halaman/index.html" %}
{% load static %}

{% block content %}
<div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page-header min-vh-75 " style=" background-image: url('{% static "halaman/assets/img/bg10.jpg" %}'); margin-top: -500;" loading="lazy">
          <span class="mask bg-gradient-dark"style="margin: -200;: -200;"></span>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 my-auto">
                

                
              </div>
            </div>
          </div>
        </div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n12">
    <!-- START Blogs w/ 3 images & quote & text -->
    <section class="py-7 position-relative">
        <div id="carousel-testimonials" class="carousel slide carousel-team">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="container">
                <div class="row align-items-center">
                  <div class="col-md-5 ms-lg-auto">
                    <div class="p-3">
                      {% if artikel.thumbnail %}
                       <img class="w-100 border-radius-xl max-height-600 fadeIn2 fadeInBottom" src="{{artikel.thumbnail.url}}">
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-md-5 me-lg-auto position-relative">
                    <h1 class="text-dark display-3 font-weight-bolder fadeIn2 fadeInBottom">{{artikel.judul}}</h1>
                  </div>
                </div>
              </div>
            </div>
      </section>
    <section class="py-5 mt 1">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ms-auto me-auto">
            <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{artikel.kategori}}</h6>
            <h3 class="title mb-4">{{artikel.judul}}</h3>
            <p class="text-dark">
              {{artikel.isi}}
            </p>
          </div>
        </div>
       
      </div>
        </div>
      </div>
    </section>
  </div>

{% endblock  %}