<footer class="footer py-5">
    <div class="container position-relative">
      <div class="row ">
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-dark text-sm">Company</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Marketing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Analytics
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Commerce
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Insights
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-dark text-sm">Support</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Pricing
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Docs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Guides
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                API Suport
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-dark text-sm">Pages</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com/presentation" target="_blank">
                About
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com/blog" target="_blank">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Jobs
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Press
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com/affiliates/new" target="_blank">
                Affiliates
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2 col-4">
          <h6 class="text-dark text-sm">Legal</h6>
          <ul class="flex-column ms-n3 nav">
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Claim
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Privacy
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark opacity-8" href="https://www.creative-tim.com" target="_blank">
                Terms
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-8 ms-md-auto">
          <h6 class="text-dark text-md-end text-sm mb-0">Language & Currency</h6>
          <ul class="nav flex-column">
            <li class="nav-item mt-3">
              <select class="form-control" name="language-button" id="language-select">
                <option value="Choice 1" selected>English</option>
                <option value="Choice 2">Chinese</option>
                <option value="Choice 3">French</option>
                <option value="Choice 4">Romanian</option>
              </select>
            </li>
            <li class="nav-item mt-3">
              <select class="form-control" name="currency-button" id="currency-select">
                <option value="Choice 1" selected>USD</option>
                <option value="Choice 2">EUR</option>
                <option value="Choice 3">JPY</option>
                <option value="Choice 4">GBP</option>
                <option value="Choice 5">CAD</option>
                <option value="Choice 6">RON</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
      <hr class="horizontal dark mb-4 mt-lg-4">
      <div class="row">
        <div class="col-lg-6 text-start mb-lg-0 mb-3">
          <h6 class="text-dark">Subscribe to our newsletters</h6>
          <p class="text-dark opacity-8 mb-0">The latest news, articles and resources sent to your inbox weekely.</p>
        </div>
        <div class="col-lg-4 ms-auto text-end my-auto">
          <div class="row">
            <div class="col-md-8 col-7">
              <div class="input-group input-group-outline">
                <label class="form-label">Email</label>
                <input class="form-control" type="email">
              </div>
            </div>
            <div class="col-md-4 col-5 text-start ps-0">
              <button type="button" class="btn bg-gradient-info mb-0 h-100">Subscribe</button>
            </div>
          </div>
        </div>
      </div>
      <hr class="horizontal dark my-4">
      <div class="row">
        <div class="col-lg-6 col-md-6 my-auto">
          <p class="text-dark mb-0 opacity-8">
            Copyright © <script>
              document.write(new Date().getFullYear())
            </script> Material Design by Creative Tim.
          </p>
        </div>
        <div class="col-lg-4 col-md-6  ms-auto text-end">
          <button type="button" class="btn btn-icon-only btn-link text-dark mb-0 opacity-6">
            <i class="fab fa-facebook text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-dark mb-0 opacity-6">
            <i class="fab fa-twitter text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-dark mb-0 opacity-6">
            <i class="fab fa-dribbble text-lg"></i>
          </button>
          <button type="button" class="btn btn-icon-only btn-link text-dark mb-0 opacity-6">
            <i class="fab fa-github text-lg"></i>
          </button>
        </div>
      </div>
    </div>
  </footer>