{% load static %}

<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white  d-none d-md-block" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        Webku.com
      </a>
      <a class="navbar-brand  text-white  d-block d-md-none" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        Material Design
      </a>
      <a href="https://www.creative-tim.com/product/material-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  mb-0 ms-auto d-lg-none d-block">Buy Now</a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
        <ul class="navbar-nav navbar-nav-hover ms-auto">
          <li class="nav-item dropdown dropdown-hover mx-2"><a class="nav-link ps-2 d-flex cursor-pointer align-items-center" role="button" href="/">
            
              <i class="material-icons opacity-6 me-2 text-md">dashboard</i>
              Home
            </a>
          
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" role="button" href="{% url 'contact' %}"> 
              <i class="material-icons opacity-6 me-2 text-md">contacts</i>
              contact
              </a>
            
          </li>
          <li class="nav-item dropdown dropdown-hover mx-2">
            <a class="nav-link ps-2 d-flex cursor-pointer align-items-center" role="button" href="{% url 'about' %}">
              <i class="material-icons opacity-6 me-2 text-md">view_day</i>
              About
              </a>
            
          </li>
         
        </ul>
        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            </li>
           
          </li>
        </li>
      {% if user.is_authenticated %}  
        <a href="{% url 'dashboard' %}" target="_blank" class="btn btn-sm  bg-gradient-secondary  mb-0 me-1">Dashboard</a>
      {% else %}
        <a href="{% url 'akun_login' %}" target="_blank" class="btn btn-sm  bg-gradient-secondary  mb-0 me-1">Login</a>
      {% endif %}
    </li>
        </ul>
      </div>
    </div>
  </nav>